<div>
	<div class="object-contain pr-5">
		<div class="absolute p-2 sm:p-5 w-28 sm:w-40">
			<img class=" w-full h-full" src="/pokemon_logo.svg" alt="">
		</div>
		<img class="rounded-br-2xl" src="/Umbreon.jpg" alt="Umbreon Splash Art.">
	</div>
</div>